/* VARIABLE CSS */
:root {
  /* COLORS */
  --first-color: #FFCC00;


  /* FONT AND TYPOGHRAPHY */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}



body {
  background-color: #FFCC00;
}