/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* VARIABLE CSS */
:root {
  --header-height: ;
  --nav-width: ;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;


  /* COLORS */
  --first-color: #f1f1f1;
  --first-color-dark: #4CAF50;
  --first-color-darken: ;
  --text-color: ;
  --first-color-light: #FFF;
  --first-color-lighten: rgb(87, 134, 97);

  /* FONT AND TYPOGHRAPHY */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* MARGENES */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 10rem;

  /* Z-INDEX */
  --z-fixed: 100;
}


/* BASE */
body {
  background-color: var(--first-color);
  padding: 20px;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: var(--body-font);
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: var(--first-color-dark);
  padding: 0;
}

ul.header li a {
  color: var(--first-color-light);
  font-weight: var(--font-bold);
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

/* CLASS CSS */
.content {
  background-color: var(--first-color-light);
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: var(--mb-5);
}

.active {
  background-color: var(--first-color-lighten);
}