/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* VARIABLE CSS */
:root {
  --header-height: ;
  --nav-width: ;


/* FONT WEIGHT */
--font-medium: ;
--font-semi-bold: ;
--font-bold: ;

/* COLORS */
--first-color: #EEE;
--first-color-dark: ;
--first-color-darken: ;
--text-color: ;
--first-color-light: ;
--first-color-lighten: ;

/* FONT AND TYPOGRHAPHY */
--body-font: 'Poppins', sans-serif;
--h1-font-size: ;
--h2-font-size: ;
--h3--font-size: ;
--normal-font-size: .938rem;
--small-font-size: ;
--smaller-font-size: ;

/* MARGENES */
--mb-1: .5rem;
--mb-2: 1rem;
--mb-3: 1.5rem;
--mb-4: 2rem;
--mb-5: 10px;

/* Z INDEX */
--z-fixed: 100;
}

/* BASE */
body {
  background-color: var(--first-color);
  font-family: var(--normal-font-size);
  padding: 25px;
  margin: 0;
  overflow: auto;
}

/* CLASS CSS */
#container li {
  margin-bottom: var(--mb-5);
}